
[Desktop Entry]
Type=Application
Name=3. Launch @PACKAGE@
Icon=@PACKAGE@
Exec=@PACKAGE@
GenericName=3. Launch @PACKAGE@
Comment=@DESCRIPTION@
Terminal=false
Categories=Network;X-@PACKAGE@;
