
[Desktop Entry]
Type=Application
Name=2. Create mysql @PACKAGE@ database
Icon=@PACKAGE@
Exec=@PACKAGE@ -C
Terminal=true
Categories=Network;X-@PACKAGE@;
